@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap");
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
}

main #btn {
  font-family: 'Roboto', sans-serif;
}

main #paragraph {
  font-family: 'Roboto', sans-serif;;
}

 main #image {
  background-image: url('../img/kanc 1.png');
} 

